body {
  background: linear-gradient(white, white, #e0f1f8, white, #f2d6db, white, #e0f1f8, white, white);
}

.hero {
  text-align: center;
  padding: 0px 20px;
}

.homepage {
  padding-top: 40px;
}

.navbar-brand:hover {
  text-decoration: underline;
}
.nav-link {
  color: black !important;
  border: 1px solid black;
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
  margin: 5px;
}
.contact:hover {
  cursor: pointer;
  border: 1px solid black;
  background: #5BCFFB;
}

.about:hover {
  cursor: pointer;
  border: 1px solid black;
  background: #F5ABB9;
}

.services:hover {
  cursor: pointer;
  border: 1px solid black;
  background: #fcf434;
}

.reservation:hover {
  cursor: pointer;
  border: 1px solid black;
  background: #9c59d1;
}

.acontact:hover {
  cursor: pointer;
  border: 1px solid black;
  background: #baf484;
  color:black;
}


.navbar-brand-title {
  color: black !important;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(167, 106, 218, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: black
}

.WIPlogo {
  max-width: 100px;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
}

#return-to-top:hover {
  background: white;
  transition: all 0.7s ease;
}
#return-to-top:hover i {
  color: black;
}

p {
padding: 20px;
  border-radius: 4px;
  font-size: 28px;
  line-height: 1.5;
  text-align: center;
}

.insta{
  color: black;
}

.service-item img {
    transition: .5s;
}

.service-item:hover img {
    transform: scale(1.1);
}

